@font-face {
	font-family: bodonismallcaps;
	src: url('../fonts/bodoni-be-regular-small-caps-amp-oldstyle-figures.ttf');
}


@font-face {
	font-family: LemonMilk;
	src: url('../fonts/LemonMilk.otf');
}

body, html{
	
}

h1 {
	font-family: arial;
}


/********** **********
*       NAVBAR
********** **********/

.navbar-collapse.current {
	color:pink;
}
.navbar-brand {
	padding: 5px;
}


.container{
	background: #120c16;
	padding: 0px 0px 0px 10px;
	top: 0;
	right: 0;
	width: 100%;
}

.navbar-header {
	padding-left: 40px;
	vertical-align: middle;
}

#navbar a.current {
	border: 1px solid white;
	line-height: 2px;
}


@media (max-device-width: 768px) {
	#navbar li {
		float: left;	
	}
	.navbar-header {
		display: none;	
	}
}
/********** **********
*     2nd Navbar
********** **********/

/********** **********
*       MY CODE
********** **********/
.buffer {
	height: 65px;
}

#rep ul, #reps17 ul, #horizontalbar ul {
	text-align: center;
	display: flex;
	padding: 0px 25%;
	justify-content: space-around;
	list-style: none;
}

#rep li, #reps17 li, #horizontalbar li {
	list-style: none;
}

#horizontalbar {
	background: white;
	padding: 25px 0px;
}
#horizontalbar a {
	color: black;
	font-family: 'bodoni-st';
	font-size: 20px;
    letter-spacing: .03em;
}

#horizontalbar a:hover {
	color: rgb(173,200,230);
	text-decoration: none;
}


@media (max-width: 768px) {
    .buffer {
        height: 90px;
    }
}

/********** **********
*      SECTION 1
********** **********/
.section1 {
	padding: 20px 20px 0px 20px;
	vertical-align: top;
	display: block;
}

#rep {
	color: white;
	margin-left: 5%;
	font-family: 'bodoni-st';
	text-align: center;
	vertical-align: top;
}


#rep h1 {
	font-size: 10vmax;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 50px 0px 40px 0;
}

#rep li {
	margin-bottom: 30px;
	font-size: 5vmax;
}

#ad {
	display: inline-block;
	width: 39%;
	vertical-align: top;
	margin: 33px 0px 0px 0px;
}



#ad img {
	display: block;
	padding-left: 30px;
	width: 100%;
	height: 100%;
}

/********** **********
*      SECTION 1 Spring 2017
********** **********/
#spr17page {
	background: url('../raw/concerts/ConcertTileBackground_Odyssey-01.png');
}
.section1 {
	padding: 20px 5% 40px 0px;
	vertical-align: top;
	display: block;
}

#reps17 {
	color: white;
	margin-left: 5%;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	vertical-align: top;
}

#reps17 h1 {
	font-size: 8vmax;
	font-family: 'LemonMilk';
	margin: 50px 0px 40px 0;
}

#reps17 li {
	font-size: 50px;
	margin-bottom: 15px;
}

#horizontalbar a.current {
	color: #a7b2ba;
}
#ad {
	display: inline-block;
	width: 39%;
	vertical-align: top;
	margin: 33px 0px 0px 0px;
}

#ad img {
	display: block;
	padding-left: 30px;
	width: 100%;
	height: 100%;
}

.section2 {
	text-align: center;
	display: block;
	padding: 0% 5% 2% 5%;
	width: 100%;
}

.section2 video {
	text-align: center;
	margin: 0 auto;
	width: 90%;
	display: block;
}

/********** **********
*      SECTION 1 Fall 2016
********** **********/
#fall2016page {
	background-image: url('../raw/concerts/ConcertTile_MovieMusic-01.png');
	padding-bottom: 50px;
}


/********** **********
*      SECTION 1 Spring 2016
********** **********/
#spring2016page {
	background: black;
}

.black {
	background: url('../raw/concerts/bkg-spr16-02-01.png') no-repeat;
	background-size: 100%;
}

#spr16-header {
	font-family: 'bodonismallcaps' !important;
}

.spr16rep {
	padding-top: 10vmax;
}

#odyssey {
	
	text-align: center;
}


/********** **********
*   SLIDESHOW
********** **********/
.mySlides {
	display: none;
}

.mySlides img:nth-child(2n) {
	margin: 66px 0px;
}

.w3-left, .w3-right, .w3-badge {
	cursor: pointer;
}

.w3-badge {
	height: 13px;
	width: 13px;
	padding: 0;
	border: 1px white solid;
}

.w3-display-container,.w3-content {
	padding-bottom: 60px;
}

.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-content{max-width:980px;margin:auto}.w3-rest{overflow:hidden}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-tiny{font-size:10px!important}.w3-small{font-size:12px!important}.w3-medium{font-size:15px!important}.w3-large{font-size:18px!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-display-bottommiddle {
	margin-bottom: 100px;
}



@media screen and (max-width:600px){
.spr16rep {
	padding-top: 5vmax;
}

#horizontalbar ul {
	padding: 0 10%;
}

/*
#horizontalbar a {
	font-size: 4vmax;
}
    
*/
a.current {
    margin: 10px;
}
}



@media screen and (max-width:500px){
img#odyssey {
	width: 100%;
}
}

@media(max-width: 1000px){
    
}

@media screen and (max-width:500px){
    #rep h1 {
        font-size: 9vmax;
    }
    #rep li {
        font-size: 4vmax;
        padding: 0px 1px;
        
    }
    }
}
