@font-face {
	font-family: bodonismallcaps;
	src: url('../fonts/bodoni-be-regular-small-caps-amp-oldstyle-figures.ttf');
}


@font-face {
	font-family: LemonMilk;
	src: url('../fonts/LemonMilk.otf');
}

body, html{
	
}

h1 {
	font-family: arial;
}


/********** **********
*       NAVBAR
********** **********/
#navbar {
	background: black;
	box-shadow: 0 2px 8px;
	border: none;
	font-family: "Open Sans", "Roboto", sans-serif;
}

#navbar a {
	color: #FFF;
	background: none;
}
.navbar-collapse.current {
	color:pink;
}
.navbar-brand {
	padding: 5px;
}


.container{
	background: #120c16;
	padding: 0px 0px 0px 10px;
	top: 0;
	right: 0;
	width: 100%;
}

.navbar-collapse a {
	font-size: 15px;
	letter-spacing: 1.6px;
}

.navbar-header {
	padding-left: 40px;
	vertical-align: middle;
}

#navbar a.current {
	border: 1px solid white;
	line-height: 2px;
}

li.navbar-concerts {
	margin: 8.5px 0px;
}

@media (max-device-width: 768px) {
	#navbar li {
		float: left;	
	}
	.navbar-header {
		display: none;	
	}
}

/********** **********
*     2nd Navbar
********** **********/

/********** **********
*       MY CODE
********** **********/
.buffer {
	height: 56px;
}

ul {
	text-align: center;
	display: flex;
	padding: 0px 25%;
	justify-content: space-around;
	list-style: none;
}

li {
	list-style: none;
}

#horizontalbar {
	background: white;
	padding: 30px 0px;
}
#horizontalbar a {
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

#horizontalbar a:hover {
	color: rgb(173,200,230);
	text-decoration: none;
}


/**a:nth-child(3n) {
	padding: 0px;
}**/

/********** **********
*      SECTION 1
********** **********/
.section1 {
	padding: 20px 20px 0px 20px;
	vertical-align: top;
	display: block;
}

#rep {
	color: white;
	margin-left: 5%;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	vertical-align: top;
}


#rep h1 {
	font-size: 10vmax;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 50px 0px 40px 0;
}

#rep li {
	margin-bottom: 30px;
	font-size: 5vmax;
}

#ad {
	display: inline-block;
	width: 39%;
	vertical-align: top;
	margin: 33px 0px 0px 0px;
}



#ad img {
	display: block;
	padding-left: 30px;
	width: 100%;
	height: 100%;
}

/********** **********
*      SECTION 1 Spring 2017
********** **********/
#spr17page {
	background: url('../raw/ConcertTileBackground_Odyssey-01.png');
}
.section1 {
	padding: 20px 5% 40px 0px;
	vertical-align: top;
	display: block;
}

#reps17 {
	color: white;
	margin-left: 5%;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	vertical-align: top;
}

#reps17 h1 {
	font-size: 8vmax;
	font-family: 'LemonMilk';
	margin: 50px 0px 40px 0;
}

#reps17 li {
	font-size: 50px;
	margin-bottom: 15px;
}

#horizontalbar a.current {
	color: #a7b2ba;
}
#ad {
	display: inline-block;
	width: 39%;
	vertical-align: top;
	margin: 33px 0px 0px 0px;
}

#ad img {
	display: block;
	padding-left: 30px;
	width: 100%;
	height: 100%;
}

.section2 {
	text-align: center;
	display: block;
	padding: 0% 5% 2% 5%;
	width: 100%;
}

.section2 video {
	text-align: center;
	margin: 0 auto;
	width: 90%;
	display: block;
}

/********** **********
*      SECTION 1 Fall 2016
********** **********/
#fall2016page {
	background-image: url('../raw/ConcertTile_MovieMusic-01.png');
}


/********** **********
*      SECTION 1 Spring 2016
********** **********/
#spring2016page {
	background: black;
}

.black {
	background: url('../raw/bkg-spr16-02-01.png') no-repeat;
	background-size: 100%;
}

#spr16-header {
	font-family: 'bodonismallcaps' !important;
}

.spr16rep {
	padding-top: 10vmax;
}

#odyssey {
	
	text-align: center;
}


/********** **********
*   SLIDESHOW
********** **********/
.mySlides {
	display: none;
}

.mySlides img:nth-child(2n) {
	margin: 66px 0px;
}

.w3-left, .w3-right, .w3-badge {
	cursor: pointer;
}

.w3-badge {
	height: 13px;
	width: 13px;
	padding: 0;
}

.w3-display-container,.w3-content {
	padding-bottom: 60px;
}


@media screen and (max-width:600px){
.spr16rep {
	padding-top: 5vmax;
}

ul {
	padding: 0 15%;
}

#horizontalbar a {
	font-size: 4vmax;
}
}



@media screen and (max-width:500px){
img#odyssey {
	width: 100%;
}
}


