@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
h1, h2, h3, h4 {
  color: #BC994E; }

@font-face {
  font-family: bodoni;
  src: url("http://www.cavalierso.com/fonts/Bodoni.ttf"); }
@font-face {
  font-family: bodoni-st;
  src: url("http://www.cavalierso.com/fonts/BodoniSvtyTwoITCTT-Book.ttf");
  font-weight: normal;
  font-style: normal; }
.setup {
  font-family: 'museosans';
  font-weight: 900; }

.input-group {
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;
  /*  border: 1px solid pink;*/ }

@font-face {
  font-family: bodoni-st;
  src: url("http://www.cavalierso.com/fonts/BodoniSvtyTwoITCTT-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: bodoni-st;
  src: url("http://www.cavalierso.com/fonts/BodoniSvtyTwoITCTT-BookIta.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: bodoni-sc-st;
  src: url("http://www.cavalierso.com/fonts/BodoniSvtyTwoOSITCTT-Book.ttf.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: bodoni-st;
  src: url("http://www.cavalierso.com/fonts/BodoniSvtyTwoOSITCTT-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: bodoni-st;
  src: url("http://www.cavalierso.com/fonts/BodoniSvtyTwoOSITCTT-BookIt.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: bodonismallcaps;
  src: url("http://www.cavalierso.com/fonts/bodoni-be-regular-small-caps-amp-oldstyle-figures.ttf"); }
@font-face {
  font-family: bodonismallcaps;
  src: url("http://www.cavalierso.com/fonts/bodoni-be-regular-small-caps-amp-oldstyle-figures.ttf"); }
@font-face {
  font-family: museosans;
  src: url("http://www.cavalierso.com/fonts/Museo700-Regular.otf"); }
@font-face {
  font-family: museoslab;
  src: url("http://www.cavalierso.com/fonts/Museo_Slab_900.otf"); }
@font-face {
  font-family: museo;
  src: url("fonts/MuseoSans_500.otf"); }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px; }

section {
  margin: 0;
  padding: 0;
  text-align: center; }

/********** **********
*      DEFAULTS
*********** *********/
h1, h2, h3, a {
  font-family: 'bodoni-st';
  font-weight: bold; }

h1 {
  font-size: 80px; }

h4 {
  font-family: 'bodoni-st';
  font-weight: bold; }

p {
  margin: 0;
  font-family: 'museo sans';
  font-weight: 300;
  font-size: 18px; }

.horizontal-border {
  width: 25%;
  height: 16px;
  border-bottom: solid 1px #eee;
  margin-bottom: 16px; }

.horizontal-border.special {
  width: 100%; }

/********** **********
*  FIXED BACKGROUND
*********** *********/
.background-fixed {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.background-fixed::before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

/********** **********
*      INFO CARD
*********** *********/
.info-section {
  padding: 64px 0 64px; }

.info-section-title {
  text-align: justify;
  text-align-last: left;
  padding: 64px 0;
  background: #fff; }

.info-section-title {
  text-align: left; }

.info-title {
  margin-top: 32px;
  text-align: left;
  position: relative; }

.info-subtitle {
  text-align: left;
  margin-bottom: 32px; }

.info-title-center {
  margin-top: 32px;
  text-align: center; }

.info-card {
  margin: 16px 0; }

.info-card .col-sm-3 {
  text-align: right; }

@media (max-width: 768px) {
  .info-card .col-sm-3 {
    text-align: left; } }
.info-card .col-sm-9 {
  text-align: left; }

.info-table-row-title {
  margin-bottom: 16px;
  padding-bottom: 16px; }

.info-table-row {
  margin-bottom: 16px;
  padding: 0.5rem 0 0.5rem; }

.itr-left {
  text-align: right; }

.itr-right {
  text-align: left; }

/********** **********
*   FONT STANDARD
********** **********/
.fs-headline {
  font-size: 80px; }

.fs-subheadline {
  font-size: 24px; }

.fs-title {
  font-size: 48px;
  font-weight: 600; }

@media (max-width: 768px) {
  .fs-title {
    font-size: 32px; } }
.fs-subtitle {
  font-size: 20px; }

.fs-content {
  font-size: 18px; }

.fs-content span {
  font-size: 14px;
  font-style: italic; }

.fs-content-title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0px;
  font-family: 'Roboto';
  padding: 1rem 0 0; }

.fs-table-content {
  font-size: 20px; }

@media (max-width: 768px) {
  .fs-table-content {
    font-size: 18px; } }
/********** **********
*      CALENDAR
*********** *********/
div.lc-container {
  background: #e0e0e0;
  min-height: 400px;
  width: 100%; }

div.lc-header-title {
  text-align: left;
  padding: 0.5rem;
  background: #ccc; }

div.lc-events-container {
  width: 100%;
  height: 100%; }

ul.lc-events-list {
  width: 100%;
  height: 100%;
  padding: 0; }

li.lc-event {
  list-style: none;
  display: flex;
  margin: 1rem 1rem 0; }

div.lc-event-date {
  flex-grow: 0;
  padding: 1rem;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600; }

div.lc-event-info {
  flex-grow: 1;
  padding: 1rem;
  color: #fff;
  text-align: left; }

div.lc-event-rehearsal {
  background: #f70; }

div.lc-event-social {
  background: #63CA33; }

p.lc-event-info-title {
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: 0.25px;
  font-size: 14px; }

p.lc-event-info-description {
  margin-bottom: 0;
  letter-spacing: 0.25px;
  font-size: 14px; }

/********** **********
*      MATERIAL
********** **********/
.gm-display4 {
  font-size: 112px;
  font-weight: 300; }

.gm-display3 {
  font-size: 56px; }

.gm-display2 {
  font-size: 45px; }

.gm-display1 {
  font-size: 34px; }

.gm-headline {
  font-size: 24px; }

.gm-title {
  font-size: 20px;
  font-weight: 600; }

.gm1-title {
  font-size: 20px; }

.gm-subheading-device {
  font-size: 16px; }

.gm-subheading {
  font-size: 15px; }

.gm-body2-device {
  font-size: 14px;
  font-weight: 600; }

.gm-body2 {
  font-size: 13px;
  font-weight: 600; }

.gm-body1-device {
  font-size: 14px; }

.gm-body1 {
  font-size: 13px; }

.gm-caption {
  font-size: 12px; }

.gm-button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600; }

.gm-input-group {
  position: relative;
  width: auto;
  height: 72px;
  font-size: 16px;
  display: inline-block;
  opacity: 0.38; }

.gm-input-group input {
  display: block;
  border: none;
  border-bottom: solid 1px #000;
  box-shadow: none;
  padding: 36px 0 8px; }

.gm-input-group label {
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  top: 36px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.gm-input-group input:focus {
  outline: none; }

.gm-input-group input:focus ~ label,
.gm-input-group input:valid ~ label {
  top: 16px;
  font-size: 12px;
  color: #673AB7; }

.gm-input-group .bar {
  position: relative;
  display: block; }

.gm-input-group .bar:before,
.gm-input-group .bar:after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: 1px;
  background: #673AB7;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.gm-input-group .bar:before {
  left: 50%; }

.gm-input-group .bar:after {
  right: 50%; }

.gm-input-group input:focus ~ .bar:before,
.gm-input-group input:focus ~ .bar:after {
  width: 50%; }

.gm-input-group-200,
.gm-input-group-200 input,
.gm-input-group-200 label,
.gm-input-group-200 .row {
  width: 200px; }

.gm-input-group-200 .after-text {
  position: absolute;
  top: 36px;
  right: 0; }

.gm-input-group-200 .after-text ~ input {
  padding-right: 50%; }

.gm-flat-button {
  min-width: 88px;
  height: 36px;
  border-radius: 2px;
  padding: 0 8px;
  margin: 0 8px;
  background: none;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600; }

.gm-flat-button:hover {
  background: #D1C4E9; }

.gm-flat-button:active {
  outline: none;
  background: #7E57C2; }

.gm-flat-button:focus {
  outline: none; }

/********** **********
*       NAVBAR
********** **********/
#navbar {
  font-family: 'bodoni-st';
  /*	background: #212121;*/
  /*	box-shadow: 0 2px 8px;*/
  border: none;
  background: #231f20 !important;
  box-shadow: 0 2px 8px !important;
  border: none; }

.nav {
  float: none; }

#navbar li {
  float: none;
  display: inline-block; }

#navbar li.active {
  box-shadow: 0 -2px 0px #ffea00 inset; }

#navbar li.active a {
  color: #BC994E; }

#navbar a {
  color: white;
  cursor: pointer;
  font-weight: 600;
  background: none;
  text-transform: lowercase;
  font-size: 22px;
  letter-spacing: 0.6px; }

#navbar .navbar-nav li:not(.active) a:hover {
  color: #BC994E; }

#navbar-brand {
  padding: 10px; }

.buffer {
  height: 40px; }

.logo {
  background-image: url("http://www.cavalierso.com/wp-content/uploads/2017/10/logo-gold.png");
  position: absolute;
  left: 0;
  top: 50px;
  width: 100px;
  height: 50px;
  background-position: center;
  background-size: cover;
  margin: 16px; }

.navbar-home {
  width: 100px; }

.navbar-home img {
  width: 100%; }

a#gold-emphasize {
  color: #BC994E; }

#dropdown, #mobile {
  display: none; }

#mobile {
  padding: 15px;
  display: none; }

#dropdown {
  padding-top: 15px; }
  #dropdown li {
    margin-top: 10px; }

#mobile #dropdown li {
  display: block; }

@media (max-width: 768px) {
  #desktop {
    display: none; }

  #mobile {
    display: inline-block; }

  .buffer {
    height: 90px; } }
/********** **********
*  HAMBURGER BUTTON  *
********** **********/
.hamburger {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  color: #BC994E;
  left: 20px;
  top: 20px; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

/********** **********
*       FOOTER
********** **********/
.footer-list li a:hover {
  color: #ffea00; }

.footer-disclaimer {
  text-align: left; }

#footer-toggle {
  display: none;
  box-sizing: border-box;
  text-align: left;
  padding: 0px 12%; }

#footer {
  background-color: lightgrey;
  list-style: none;
  margin: 0px; }
  #footer img {
    opacity: .54; }
    #footer img:hover {
      opacity: 1; }
  #footer button {
    background: transparent;
    border: none;
    color: #337ab7;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'bodoni-st';
    padding: 0px;
    margin: 0px; }
  #footer .footer.flexit {
    justify-content: space-around;
    align-items: center;
    margin: 0px 5%; }
    #footer .footer.flexit h2 {
      margin: 0px; }

/********** **********
*       ABOUT
********** **********/
#about-background::before {
  background-image: url("http://www.cavalierso.com/wp-content/uploads/2017/09/viola.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#about-background {
  min-height: inherit;
  height: 80%; }

#who {
  background: #2c3e50;
  color: #fff; }

#what {
  background: #fff;
  color: #000; }

#welcome {
  background: url(http://www.cavalierso.com/wp-content/uploads/2017/10/sosfall2017.jpg);
  background-position-y: 33%;
  color: #fff;
  height: 250px; }

#welcome .fs-title {
  color: #fff; }

#headshots, .headshot {
  padding: 0;
  margin: 0; }

.headshot img {
  width: 100%; }

.icon {
  width: 40px;
  height: auto; }

.info-card.row {
  padding: 10px 0px; }

section#mission {
  text-align: center;
  text-align-last: center; }

/********** **********
*       JOIN
********** **********/
#join h1, #join h2, #join h3, #join h4 {
  color: #BC994E; }

h1.fs-title, #join-step-2a {
  margin-left: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px; }

h1.fs-title {
  font-size: 50px; }

#join-step-2a {
  margin-left: 0px !important;
  margin-bottom: 0; }

h1.main-title {
  font-size: 100px;
  margin: 0; }

.main-title.shadow {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.main-title-container {
  text-align: center;
  margin: 0 auto; }

.infowhite {
  background-color: white; }

.top {
  z-index: 10;
  position: relative;
  display: block; }

.shadow {
  z-index: 1;
  top: 0px;
  text-shadow: 3px 3px 5px rgba(201, 181, 150, 0.7);
  position: absolute;
  color: white !important; }

.infoblack {
  background-color: #231f20; }
  .infoblack p {
    color: white; }

p.gm-subheading-footer-title, .footer-title, .gm-subheader {
  font-weight: bold;
  font-size: 20px; }

li.sm-logo {
  margin: 0 0 0.5rem; }

.fs-content-title {
  font-weight: 600; }

.fs-subtitle {
  padding-left: 30px; }

.setup {
  font-family: 'museosans';
  font-weight: 900; }

.input-group {
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;
  /*  border: 1px solid pink;*/ }

.fs-title span.special {
  font-size: 200px;
  letter-spacing: .03em; }

#nomargin {
  margin: 0px !important; }

.lessen {
  text-shadow: 1px 3px 5px rgba(144, 130, 107, 0.7); }

#faq {
  padding: 16px; }

#backinblack {
  -webkit-text-fill-color: white; }

#so-ya {
  width: 340px;
  height: auto;
  vertical-align: center;
  margin: 30px 0px 0px 0px; }

.setup {
  font-size: 29px; }

#join {
  text-align: center; }

.table-header {
  font-size: 40px;
  margin-bottom: 0px; }

#join .info-table {
  text-align: left; }
  #join .info-table .center {
    text-align: center;
    float: none;
    padding: 30px 0px 30px 70px; }
  #join .info-table p {
    font-size: 18px;
    margin: 0px;
    padding: 0px; }

#join-background::before {
  background-image: url("http://www.cavalierso.com/wp-content/uploads/2017/09/IMG_9430_compressed.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#join-background {
  min-height: inherit;
  height: 300px; }

#join-background p {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  font-family: "Satisfy", cursive;
  text-shadow: 0 0 4px #000; }

#join-step-1 {
  color: #fff; }

#join-step-2 {
  color: #000; }

#join-step-2a {
  padding: 0;
  color: #000; }

#join-step-3 {
  color: #fff; }

#forms > p, #dues > p {
  text-align: left;
  color: #fff; }

#forms > a {
  display: block;
  margin-left: 24px;
  color: #f1c40f;
  text-align: left; }

#forms > a:hover {
  color: #f39c12; }

#join-step-2a {
  padding: 20px 0px; }

/********** **********
*    NEWSLETTER      *
********** **********/
#mc_embed_signup label {
  display: block;
  font-family: 'museo sans';
  font-weight: 300;
  font-size: 18px; }
#mc_embed_signup input, #mc_embed_signup .indicates-required {
  margin: 0;
  font-family: 'museo sans';
  font-weight: 300;
  font-size: 18px;
  text-align: center; }
#mc_embed_signup .mc-field-group, #mc_embed_signup .button, #mc_embed_signup .indicates-required {
  margin-top: 20px; }
#mc_embed_signup .button {
  background-color: #BC994E;
  color: white;
  padding: 10px 20px; }

/********** **********
*       SUPPORT
********** **********/
#support-banner h1#thankyou {
  margin-bottom: 30px; }

h2.fs-title.donate {
  margin-bottom: 20px; }

#support-banner {
  margin: 0 15%;
  padding: 5% 0; }

#support-banner > div {
  text-align: center; }

#support-piggy-bank {
  height: 200px; }

.gm-display4 {
  font-family: "Satisfy", cursive; }

.divider {
  width: 76%;
  margin: 0 12%;
  padding: 0;
  border-bottom: solid 2px #000;
  opacity: 0.12; }

#support-information {
  margin: 0 15%;
  padding: 5% 0; }

.gm1-answer {
  font-size: 16px; }

.justify-right {
  text-align: justify;
  text-align-last: right; }

.justify-left {
  text-align: justify;
  text-align-last: left; }

/********** **********
*     MAILCHIMP
********** **********/
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif; }

/********** **********
*      CONCERTS
********** **********/
h1#spr16-header, h1#movie-music-header {
  color: white; }

@font-face {
  font-family: bodonismallcaps;
  src: url("http://www.cavalierso.com/fonts/bodoni-be-regular-small-caps-amp-oldstyle-figures.ttf"); }
@font-face {
  font-family: LemonMilk;
  src: url("http://www.cavalierso.com/fonts/LemonMilk.otf"); }

/********** **********
*       NAVBAR
********** **********/
#navbar {
  background: black !important;
  box-shadow: 0 2px 8px !important;
  border: none; }

#navbar a {
  color: white; }

/********** **********
*     2nd Navbar
********** **********/
.buffer {
  height: 65px; }

#rep ul, #horizontalbar ul {
  text-align: center;
  display: flex;
  padding: 0px 25%;
  justify-content: space-around;
  list-style: none; }

#rep li, #reps17 li, #horizontalbar li {
  list-style: none; }

#horizontalbar {
  background: white;
  padding: 25px 0px; }

#horizontalbar a {
  color: black;
  font-family: 'bodoni-st';
  font-size: 20px;
  letter-spacing: .03em; }

#horizontalbar a:hover {
  color: #adc8e6;
  text-decoration: none; }

/********** **********
*      SECTION 1
********** **********/
.section1 {
  padding: 20px 20px 0px 20px;
  vertical-align: top;
  display: block; }

#rep {
  color: white;
  margin-left: 5%;
  font-family: 'bodoni-st';
  text-align: center;
  vertical-align: top; }

#rep h1 {
  font-size: 10vmax;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 50px 0px 40px 0; }

#rep li {
  margin-bottom: 30px;
  font-size: 5vmax; }

#ad {
  display: inline-block;
  width: 39%;
  vertical-align: top;
  margin: 33px 0px 0px 0px; }

#ad img {
  display: block;
  padding-left: 30px;
  width: 100%;
  height: 100%; }

/********** **********
*      SECTION 1 Spring 2017
********** **********/
#spr17page {
  background: url("http://www.cavalierso.com/wp-content/uploads/2017/09/ConcertTileBackground_Odyssey-01.png"); }

.section1 {
  padding: 20px 5% 40px 0px;
  vertical-align: top;
  display: block; }

#reps17 {
  color: white;
  margin-left: 5%;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  vertical-align: top; }

#reps17 h1 {
  font-size: 8vmax;
  font-family: 'LemonMilk';
  margin: 50px 0px 40px 0; }

#reps17 li {
  font-size: 50px;
  margin-bottom: 15px; }

#horizontalbar a.current {
  color: #a7b2ba; }

#ad {
  display: inline-block;
  width: 39%;
  vertical-align: top;
  margin: 33px 0px 0px 0px; }

#ad img {
  display: block;
  padding-left: 30px;
  width: 100%;
  height: 100%; }

.section2 {
  text-align: center;
  display: block;
  padding: 0% 5% 2% 5%;
  width: 100%; }

.section2 video {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  display: block; }

/********** **********
*      SECTION 1 Fall 2016
********** **********/
#fall2016page {
  background-image: url("http://www.cavalierso.com/wp-content/uploads/2017/09/ConcertTile_MovieMusic-01.png");
  padding-bottom: 50px; }

/********** **********
*      SECTION 1 Spring 2016
********** **********/
#spring2016page {
  background: black; }

.black {
  background: url("http://www.cavalierso.com/wp-content/uploads/2017/09/bkg-spr16-02-01.png") no-repeat;
  background-size: 100%; }

#spr16-header {
  font-family: 'bodonismallcaps' !important; }

.spr16rep {
  padding-top: 10vmax; }

#odyssey {
  text-align: center; }

/********** **********
*   SLIDESHOW
********** **********/
.mySlides {
  display: none; }

.mySlides img:nth-child(2n) {
  margin: 66px 0px; }

.w3-left, .w3-right, .w3-badge {
  cursor: pointer; }

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
  border: 1px white solid;
  margin: 0 8px; }

.w3-display-container, .w3-content {
  padding-bottom: 60px; }

.w3-section, .w3-code {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.w3-content {
  max-width: 980px;
  margin: auto; }

.w3-rest {
  overflow: hidden; }

.w3-display-container:hover .w3-display-hover {
  display: block; }

.w3-display-container:hover span.w3-display-hover {
  display: inline-block; }

.w3-display-hover {
  display: none; }

.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before,
.w3-transparent, .w3-hover-none:hover {
  background-color: transparent !important; }

.w3-badge, .w3-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-right: 8px;
  text-align: center; }

.w3-badge {
  border-radius: 50%; }

.w3-tooltip, .w3-display-container {
  position: relative; }

.w3-tooltip .w3-text {
  display: none; }

.w3-tooltip:hover .w3-text {
  display: inline-block; }

.w3-white, .w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important; }

.w3-bar {
  width: 100%;
  overflow: hidden; }

.w3-center .w3-bar {
  display: inline-block;
  width: auto; }

.w3-bar-block.w3-center .w3-bar-item {
  text-align: center; }

.w3-block {
  display: block;
  width: 100%; }

.w3-container, .w3-panel {
  padding: 0.01em 16px; }

.w3-panel {
  margin-top: 16px;
  margin-bottom: 16px; }

.w3-tiny {
  font-size: 10px !important; }

.w3-small {
  font-size: 12px !important; }

.w3-medium {
  font-size: 15px !important; }

.w3-large {
  font-size: 18px !important; }

.w3-text-white, .w3-hover-text-white:hover {
  color: #fff !important; }

.w3-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%); }

.w3-left {
  float: left !important; }

.w3-right {
  float: right !important; }

.w3-display-bottommiddle {
  margin-bottom: 100px; }

@media screen and (max-width: 600px) {
  .spr16rep {
    padding-top: 5vmax; }

  #horizontalbar ul {
    padding: 0 10%; }

  /*
  #horizontalbar a {
  	font-size: 4vmax;
  }
      
  */
  a.current {
    margin: 10px; } }
@media screen and (max-width: 500px) {
  img#odyssey {
    width: 100%; } }
@media screen and (max-width: 500px) {
  #rep h1 {
    font-size: 9vmax; }

  #rep li {
    font-size: 4vmax;
    padding: 0px 1px; } }
/********** **********
*     LEADERSHIP
********** **********/
#leadership ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0px 10vw;
  padding: 0px; }
#leadership li {
  text-decoration: none; }
#leadership .infoblack, #leadership .infowhite {
  border: 3px solid pink; }
#leadership .dropdown {
  display: none;
  flex-flow: column wrap;
  margin: 0px;
  text-align: left; }
#leadership #gears {
  max-width: 30vw;
  margin-right: 30px; }
#leadership h2 {
  margin-left: 30px;
  font-size: 60px; }
#leadership h3 {
  font-size: 40px; }
#leadership h4 {
  font-size: 25px; }
#leadership #involved {
  margin: 0vw 15vw; }
#leadership #involved img {
  max-width: 8vw; }

.flexit {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

.display {
  display: none; }

.show {
  display: show; }