
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600,700,800,900|Roboto|Satisfy|Arvo');


@font-face {
  font-family: bodoni;
  src: url('../fonts/Bodoni.ttf');
}

@font-face {
    font-family: kollektif;
    src: url('../fonts/Kollektif.ttf');
}

@font-face {
    font-family: kollektif;
    src: url('../fonts/Kollektif-Italic.ttf');
    font-weight: italic;
}

@font-face {
    font-family: kollektif;
    src: url('../fonts/Kollektif-BoldItalic.ttf');
    font-weight: bold-italic;
}

@font-face {
    font-family: kollektif;
    src: url('../fonts/Kollektif-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: museosans;
    src: url('../fonts/MuseoSans_900.otf')
    font-weight: 900;
}

@font-face {
    font-family: museosans;
    src: url('../fonts/MuseoSans_300.otf')
    font-weight: 300;
}

h1.fs-title, #join-step-2a {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 50px;
    padding-bottom: 10px
}

#join-step-2a {
    margin-left: 0px !important;
    margin-bottom: 0;
}

h1.main-title {
  font-size: 100px;
  margin: 0;
    line-height: 1.3em;
}


.main-title.shadow { 
   margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.main-title-container {
  text-align: center;
  margin: 0 auto;
}

.infowhite {
  background-color: white;
}


h1, h2, h3, h4 {

  color:	#D5AD6D; /*if no support for background-clip*/
	
		background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(30deg, 
/*                 rgba(226,186,120,1) 0%, */
                 rgba(163,126,67,1) 0%, 
                 rgba(145,112,59,1) 20%,
                 rgb(239, 194, 121) 40%, 
                 rgb(239, 194, 121) 43%,
                 rgba(213,173,109,1) 45%,
                 rgba(213,173,109,1) 50%,
                 rgba(145,112,59,1) 60%,
                  rgb(173, 136, 78) 80%,
                  rgba(163,126,67,1) 100% 
             );

    
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
    

h1#offsetgradient {
    	background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(left, 
/*                 rgba(226,186,120,1) 0%, */
                 rgba(163,126,67,1) 0%, 
                 rgba(145,112,59,1) 10%,
                 rgb(239, 194, 121) 22%, 
                 rgb(239, 194, 121) 23%,
                 rgba(213,173,109,1) 29%,
                 rgba(213,173,109,1) 33%,
                 rgba(145,112,59,1) 35%,
                  rgb(173, 136, 78) 50%,
                  rgba(163,126,67,1) 100% 
             );
       
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top {
  z-index: 10;
  position: relative;
    display: block;
}

.shadow {
  z-index: 1;
  top: 0px;
  text-shadow: 3px 3px 5px rgba(201,181,150,.7);
  position: absolute;
  color: white !important;
}


.infoblack {
  background-color: black;
}

p.gm-subheading-footer-title, .footer-title, .gm-subheader {
  font-weight: bold;
  font-size: 20px;
}

/* .col-sm-4 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
} */

.footer-look-listen {

}

.footer {
  font-family: 'kollektif';
}

/* .row {
  display: block;
  width: 82%;
  text-align: left;
  margin: 0 auto;
} */

.footer-disclaimer {
  width: 97.5%;
}

.footer-list {
  padding-left: 0;
  margin-top: 0;

}

li.sm-logo{
  margin-top: 0;
}

#spotify {
  margin-top: 10px;
}

#youtube {
  margin-top: 10px;
}

.imptppl {
  font-weight: bold-italic;
}

.fs-content-title {
  font-weight: 1000;
}

.fs-subtitle {
  padding-left: 30px;
}

.setup {
    font-family: 'museosans';
    font-weight: 900;
}

.input-group {
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;
/*  border: 1px solid pink;*/
}

h1.fs-title.shadow {
    margin: 0px 0px 10px 20px;
}

.fs-title span.special {
    font-size: 200px;
        letter-spacing: .03em;
}

#nomargin {
    margin: 0px !important;
}

.lessen {
    text-shadow: 1px 3px 5px rgba(144, 130, 107, 0.7);
}

#faq {
	padding: 16px;
}


h1.fs-title.top.main-title, .fs-title.main-title.shadow{
    font-family: 'bodoni' !important;
}


h4.top, h4.shadow {
    font-size: 60px
}

#backinblack {
    -webkit-text-fill-color: white;
}