#navbar {
	background: #212121;
	box-shadow: 0 2px 8px;
	border: none;
	padding-top: 4px;
}
#navbar li.active {
	box-shadow: 0 -2px 0px #ffea00 inset;
}
#navbar li.active a {
	color: #ffea00;
}
#navbar a {
	color: #FFF;
	background: none;
}
#navbar .navbar-nav li:not(.active) a:hover {
	color: #ffea00;
}
.navbar-brand {
	padding: 10px;
}
.logo {
	background-image: url('../raw/cso-logo.png');
	position: absolute;
	left: 0;
	top: 50px;
	width: 100px;
	height: 50px;
	background-position: center;
	background-size: cover;
	margin: 16px;
}

@media (max-device-width: 768px) {
	#navbar li {
		float: left;	
	}
	.navbar-header {
		display: none;	
	}
}