@font-face {
    font-family: bodoni-st;
    src: url('../fonts/BodoniSvtyTwoITCTT-Book.ttf');
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: bodoni-st;
    src: url('../fonts/BodoniSvtyTwoITCTT-Bold.ttf');
    font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: bodoni-st;
    src: url('../fonts/BodoniSvtyTwoITCTT-BookIta.ttf');
    font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: bodoni-sc-st;
    src: url('../fonts/BodoniSvtyTwoOSITCTT-Book.ttf.ttf');
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: bodoni-st;
    src: url('../fonts/BodoniSvtyTwoOSITCTT-Bold.ttf');
    font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: bodoni-st;
    src: url('../fonts/BodoniSvtyTwoOSITCTT-BookIt.ttf');
    font-weight: normal;
	font-style: italic;
}

@font-face {
  font-family: bodonismallcaps;
  src: url('../fonts/bodoni-be-regular-small-caps-amp-oldstyle-figures.ttf');
}


@font-face {
  font-family: LemonMilk;
  src: url('../fonts/LemonMilk.otf');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

body, html{
  /* background: -webkit-radial-gradient(#ffc , #ffc440);
     background: radial-gradient(#ffc , #ffc440);*/
     background: #ffc440; /* Old browsers */
 background: -moz-linear-gradient(left, #ffc440 0%, #ffeabc 29%, #ffc440 43%, #ffc440 47%, #ffc440 53%, #ffeabc 68%, #ffda8c 82%, #ffda8c 82%, #ffc440 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(left, #ffc440 0%,#ffeabc 29%,#ffc440 43%,#ffc440 47%,#ffc440 53%,#ffeabc 68%,#ffda8c 82%,#ffda8c 82%,#ffc440 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to right, #ffc440 0%,#ffeabc 29%,#ffc440 43%,#ffc440 47%,#ffc440 53%,#ffeabc 68%,#ffda8c 82%,#ffda8c 82%,#ffc440 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc440', endColorstr='#ffc440',GradientType=1 ); /* IE6-9 */
 	color: black;
 	font-family: 'arial', sans-serif;
 	font-size: 10px	;
 /*	filter: blur(1px);*/
}

.intro {
	display: flex;
	flex-flow: column-reverse;
}

h1 {
	font: small-caps bold 50px 'bodoni-sc-st';
	margin: 0 0 10px 0;
}

h3 {
	font: small-caps bold 60px 'bodoni-sc-st';
}

h2 {
	font: 26px 'bodoni-st';
	margin: 0;
}

p {
	font: 16px 'bodoni-st';
	margin-bottom: 5px;
}

/********** **********
*       NAVBAR
********** **********/
/*#navbar {
	background: black;
	box-shadow: 0 2px 8px;
	border: none;
	font-family: "Open Sans", "Roboto", sans-serif;
}

#navbar a {
	color: #FFF;
	background: none;
}
.navbar-collapse.current {
	color:pink;
}
.navbar-brand {
	padding: 5px;
}


.container{
	background: rgba(173, 216, 230, 1);
	padding: 0px 0px 0px 10px;
	top: 0;
	right: 0;
	width: 100%;
}

.navbar-collapse a {
	font-size: 15px;
	letter-spacing: 1.6px;
}

.navbar-header {
	padding-left: 40px;
	vertical-align: middle;
}

#navbar a.current {
	border: 1px solid white;
	line-height: 2px;
}

li.navbar-concerts {
	margin: 8.5px 0px;
}

@media (max-device-width: 768px) {
	#navbar li {
		float: left;	
	}
	.navbar-header {
		display: none;	
	}
}




*/

.buffer {
	height: 10vh;
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255,196,64, 0.85);
  text-align: left;
}

.container:hover .overlay {
  opacity: 1;

}

.text {
  color: black;

  position: absolute;
  top: 50%;
  left: 50%;
	width: 80%;
    transform: translate(-49%, -46%);
  -ms-transform: translate(-49%, -46%);
}

.section1 {
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.exec {
	width: 45%;
	padding: 20px;
}


.question {
	width: 30em;
}

.answer {
	width: 100em;
}


.intro {
	text-align: center;
}

h1.boldthis {
	font-weight: bold;
}


.answertext {
	margin: 0px 0px 20px 20px;
}

.question-posed {
	font-weight: 900;
}

.exec-title {
	font: small-caps bold 70px 'bodoni-sc-st';
	display: block;
	width: 100%;
	text-align: center;
}