<div class="row">
    <div class="col-sm-6">
        <img class="schedule-image" src="<%= mainSchedule%>">
    </div>
    <div class="col-sm-6">
        <img class="schedule-image" src="<%= philSchedule%>">
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <img class="schedule-image" src="<%= sosSchedule%>">
    </div>
    <div class="col-sm-3">
        <img id="schedule-key" class="schedule-image" src="<%= scheduleKey%>">
    </div>
</div>
<style>
#schedule-key {
    max-width: 15rem;
}
.schedule-image {
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
}
</style>